<html>
<header>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</header>
<h1> Let's Play Movie Trivia!</h1>
<body>
	<% counter = 0 %>
  <% while counter < 20 %>
	<% @i[counter].title %>
	<% counter += 1 %>
	<% end %>
</body>

</html>