<html>
<header>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</header>
<h1> List of Movies! </h1>
<body>
  <% @movies.each do |movie| %>
  <% if movie[:poster] != nil %>
	<div><%= movie[:title] %><div>
	<div><img onclick="alert('osihdjod')" src="<%= movie[:poster]%>"></div>
	<% end %>
  <% end %>
</body>

</html>