<html>
<header>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</header>
<h1> Let's Play Movie Trivia!</h1>
<body>
	<form action='/movies' method='post'>
		<input type="text" name="movie">
		<input type="submit" value="Search Movies">
	</form>
</body>

</html>